@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/Ibmplexsans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/Ibmplexsansbold.ttf");
  font-weight: bold;
}